@import '_var';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600&display=swap');

.wbtn
{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0%;
}

body
{
    font-family: 'Oswald', sans-serif;
}

.top
{
    background: $brand;
    
    &-mid
    {
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
    }
}

.navbar-brand
{
    position: absolute;
    top: -46px;
}
.bg-light
{
height: 100px;
}

.search
{
    background-color: #000;
    height: 38px;
    width: 38px;
    border-radius: 50%;

}
.navbar-light .navbar-nav .nav-link
{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.banner
{
    height: 550px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/banner.png);
    background-size: cover;
    .content
    {
        padding: 5rem;
        h4 
        {
            font-family: Oswald;
            font-size: 35px;
            font-style: normal;
            font-weight: 200;
            line-height: 52px;
            letter-spacing: 0em;
            text-align: center;

            
        }
        h1 
        {
            font-family: Oswald;
            font-size: 80px;
            font-style: normal;
            font-weight: 600;
            line-height: 118px;
            letter-spacing: 0.03em;
            text-align: center;

        }
    }

}

.icon1
{
    background: rgba(247,192,59,0.5);
    height: 200px;
}
.icon2
{
    background: rgba(34,43,82,0.5);
    height: 200px;
}
.icon3
{
    background: rgba(182,32,51,0.5);
    height: 200px;
}

.about
{
    padding: 80px 0;
    &-left
    {
        h1 {
            font-family: Oswald;
            font-size: 74px;
            font-style: normal;
            font-weight: 600;
            line-height: 110px;

        }
        
    }
    &-right
    {
        p{
            font-family: 'roboto';
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 170%;
        }
        

    }
}

.courses
{
    color: #fff;
    &-title
    {
        font-size: 20px;
       
        color: #ffffff;
       
     
    }
    
}
.sboximg
{
    position: relative;
    .sboxc
    {
        position: absolute;
        bottom: 20px;
        color: #fff;
        padding: 20px;
        text-align: center;
        .h1
        {
            font-weight: 500;
            font-size: 25px;

        }
        .p
        {
            font-weight: 300;
            font-size: 12px;
        }
    }
}